<!DOCTYPE html>
<html lang="en">
<head>
{{>header}}
</head>
<body>

{{>navbar}}

<!-- Start Banner -->
<div class="container">
	<div class="mainheading">
		<h1>Nimesh Panchal</h1>
		<p class="lead">
			 Hello forks, My name is Nimesh Panchal and my Student ID is 136535218. Im currently enrolled in Computer Programming. Back in India I was working as a Sr. Web Designer with 7 years of experience into it.
		</p>
		<img class="img-fluid" src="/public/images/hero.jpg" alt="">
	</div>
	
<!-- End Banner -->

	<!-- Start Blog Posts -->
	<section>

	<div class="card-columns blog-list-effect">

		<!-- Start First Post -->
		<div class="card">
			<a href="article.html">
				<img class="img-fluid" src="/public/images/1.jpg" alt="">
			</a>
			<div class="card-block">
				<h2 class="card-title"><a href="article.html">This Site Has All the Dummy Text You'll Ever Need</a></h2>
				<h4 class="card-text">Today, there are many dummy/filler text generators to choose from, so you don’t necessarily need to use Lorem ipsum. There’s, for example, Corporate ipsum which is based off of business terminologies. Or Cupcake ipsum for those who love baked goods.</h4>
				<button type="button" class="btn btn-secondary btn-sm"><a href="article.html">Read More</a></button>
			</div>
		</div>
		<!-- End First Post -->

		<!-- Start Second Post -->
		<div class="card">
			<a href="article.html">
				<img class="img-fluid" src="/images/2.jpg" alt="">
			</a>
			<div class="card-block">
				<h2 class="card-title"><a href="article.html">This Site Has All the Dummy Text You'll Ever Need</a></h2>
				<h4 class="card-text">Today, there are many dummy/filler text generators to choose from, so you don’t necessarily need to use Lorem ipsum. There’s, for example, Corporate ipsum which is based off of business terminologies. Or Cupcake ipsum for those who love baked goods.</h4>
				<button type="button" class="btn btn-secondary btn-sm"><a href="article.html">Read More</a></button>
			</div>
		</div>
		<!-- End Second Post -->

		<!-- Start Third Post -->
		<div class="card">
			<a href="article.html">
				<img class="img-fluid" src="/images/3.jpg" alt="">
			</a>
			<div class="card-block">
				<h2 class="card-title"><a href="article.html">This Site Has All the Dummy Text You'll Ever Need</a></h2>
				<h4 class="card-text">Today, there are many dummy/filler text generators to choose from, so you don’t necessarily need to use Lorem ipsum. There’s, for example, Corporate ipsum which is based off of business terminologies. Or Cupcake ipsum for those who love baked goods.</h4>
				<button type="button" class="btn btn-secondary btn-sm"><a href="article.html">Read More</a></button>
			</div>
		</div>
		<!-- End Third Post -->

		<!-- Start Fourth Post -->
		<div class="card">
			<a href="article.html">
				<img class="img-fluid" src="/images/4.jpg" alt="">
			</a>
			<div class="card-block">
				<h2 class="card-title"><a href="article.html">This Site Has All the Dummy Text You'll Ever Need</a></h2>
				<h4 class="card-text">Today, there are many dummy/filler text generators to choose from, so you don’t necessarily need to use Lorem ipsum. There’s, for example, Corporate ipsum which is based off of business terminologies. Or Cupcake ipsum for those who love baked goods.</h4>
				<button type="button" class="btn btn-secondary btn-sm"><a href="article.html">Read More</a></button>
			</div>
		</div>
		<!-- End Fourth Post -->

		<!-- Start Fifth Post -->
		<div class="card">
			<a href="article.html">
				<img class="img-fluid" src="/images/5.jpg" alt="">
			</a>
			<div class="card-block">
				<h2 class="card-title"><a href="article.html">This Site Has All the Dummy Text You'll Ever Need</a></h2>
				<h4 class="card-text">Today, there are many dummy/filler text generators to choose from, so you don’t necessarily need to use Lorem ipsum. There’s, for example, Corporate ipsum which is based off of business terminologies. Or Cupcake ipsum for those who love baked goods.</h4>
				<button type="button" class="btn btn-secondary btn-sm"><a href="article.html">Read More</a></button>
			</div>
		</div>
		<!-- End Fifth Post -->

		<!-- Start Sixth Post -->
		<div class="card">
			<a href="article.html">
				<img class="img-fluid" src="/images/6.jpg" alt="">
			</a>
			<div class="card-block">
				<h2 class="card-title"><a href="article.html">This Site Has All the Dummy Text You'll Ever Need</a></h2>
				<h4 class="card-text">Today, there are many dummy/filler text generators to choose from, so you don’t necessarily need to use Lorem ipsum. There’s, for example, Corporate ipsum which is based off of business terminologies. Or Cupcake ipsum for those who love baked goods.</h4>
				<button type="button" class="btn btn-secondary btn-sm"><a href="article.html">Read More</a></button>
			</div>
		</div>
		<!-- End Sixth Post -->

	</div>
	</section>
	<!-- End Blog Posts -->

	

	{{>footer}}

</div>

</body>
</html>
